{% extends "blog/base.html" %}
{% load custom_tags %}

{% block title %}
    {{post.title}}
{% endblock title %}


{% block content %}

    <h1>{{post.title}}</h1>
    <hr>
    <br>
    {{post.body|markdown}}
    <hr>
    <p class="p-1 mb-2 bg-info-subtle text-info-emphasis rounded">
        <a href="{% url "blog:post_share" post.id %}">Share this post</a>
    </p>

    <p class="p-1 mb-2 bg-dark-subtle text-dark-emphasis rounded">
        Published {{post.publish}} by {{post.author}}
    </p>
    <hr>

    {% with comments.count as total_comments %}
        <h2>
            {{total_comments}} comment{{total_comments|pluralize}}
        </h2>
    {% endwith %}


    {% for comment in comments %}
        <div class="card mb-2">
            <div class="card-header">
                    Comment {{forloop.counter}} by {{comment.name}} at {{comment.created}}
            </div>
            <div class="card-body">
                <p class="card-text">{{comment.body|linebreaks}}</p>
            </div> 
        </div>
    {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}

    {% include "blog/post/includes/comment_form.html" %}

{% endblock content %}


{% block sidebar %}

        <h3>Similar Posts</h3>
        {% for post in similar_posts %}
            <p>
                <a href="{{post.get_absolute_url}}">{{post.title}}</a>
            </p>
        {% empty %}
            <p>There are no similar posts yet.</p>
        {% endfor %}

{% endblock sidebar %}