{% extends "blog/base.html" %}

{% block title %}
    Share a Post
{% endblock title %}


{% block content %}

    {% if sent %}
        <h1 class="text-center mt-3" >E-mail Successfully Sent</h1>
        <p class="alert alert-success font-italic" >
            <strong>{{post.title}}</strong> was Successfully sent to <i>{{ form.cleaned_data.to }}</i>.
        </p>
    {% else %}
        <h1>Share "{{post.title}}" by e-mail</h1>

        <form method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="row mb-3">
                    <label for="{{field.id_for_label}}" class="col-sm-2 col-form-label">{{field.label}}</label>
                    <div class="col-sm-10">
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="p-1 mb-2 bg-danger-subtle text-danger-emphasis rounded">{{error}}</div>
                            {% endfor %}
                        {% endif %}
                        {{field}}
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <input class="btn btn-primary" type="submit" value="Send e-mail">
                </div>
            </div>
        </form>

        {% comment %} 
        <form method="post" class="form-group">
            {{form}}
            {% csrf_token %}
            <input class="btn btn-primary mt-3" type="submit" value="Send e-mail">
        </form> 
        {% endcomment %}
    {% endif %}


{% endblock content %}
